<nav class="nav">
  <div class="nav-inner">
    <a href="/" class="nav-logo">HAULR</a>
    <div class="nav-right">
      <a href="/help" class="nav-link">Help</a>
      <a href="/partners" class="nav-link">Partners</a>
      <a href="/contact" class="nav-link">Contact</a>
      <a href="/book" class="nav-cta">Book Now</a>
    </div>
  </div>
</nav>